body{
    background-color: rgb(100, 100, 100);
}
div{
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
}
#header{
    background-color: rgb(201, 201, 201);
    height: 170px;
}
#leftSidebar{
    margin-top: 150px;
    background-color: rgb(201, 201, 201);
    float: right;
    width: 150px;
    height: 680px;
}
#rightSidebar{
    margin-top: 150px;
    background-color: rgb(201, 201, 201);
    float: left;
    width: 150px;
    height: 680px;
}
#main{
    background-color: rgb(201, 201, 201);
    height:1000px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
}
#footer{
    background-color: rgb(201, 201, 201);
}
h1{
    text-size-adjust: 100;
    text-decoration-color: rgb(255, 0, 0);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(201, 201, 201);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(255, 0, 0);
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(51, 51, 51);
}
.navbar li{
    float: left;
}